
.dark {
    body {
        background: url('~/assets/images/background.svg') no-repeat #283046;
    }

    .p-button.p-button-text.p-button-plain {
        color: #e4e4e4;
    }

    .p-sidebar {
        color: #e4e4e4;
    }
}