@use 'utils/fonts';
@use 'utils/override';
@use 'utils/animations';

:root {
    --primary-color: #00ad4c;
    --background: #EEE;
    --main-content: #FFF;
    --border-color: #ECECEC;
}

.dark {
  --background: #283046;
  --main-content: #222;
  --border-color: #2f3339;
}

html,
body,
.n-drawer,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter var',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
}

body {
  background-color: var(--background);
  background-size: cover;
}

.rtl {
  html,
  body,
  .n-drawer,
  #app {
    font-family: Shabnam;
    direction: rtl;

    .p-component {
      font-family: Shabnam;
    }
  }
}



.main-content { 
  background: var(--main-content);
  border-radius: 10px;
  min-height: calc(100vh - 1.6rem);
}

.page-title {
  font-size: 1.1rem;
}

.dark {
  .p-button.p-button-text.p-button-plain {
    color: #e4e4e4;
  }

  .p-sidebar {
    color: #e4e4e4;
  }
}

.text-primary {
  color: var(--primary-color);
}

@import url('./utils/_error.scss');
@import url('./utils/_progress.scss');