@use 'utils/fonts';
@use 'utils/override';
@use 'utils/animations';

:root {
    --sidebar-width: 20rem;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter var',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
}

body {
  // background: url('~/assets/images/background.svg') no-repeat fixed;
  background-color: #EEE;
  background-size: cover;
}

.rtl {
  html,
  body,
  #app {
    font-family: Shabnam;
    direction: rtl;

    .p-component {
      font-family: Shabnam;
    }
  }
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.main-content { 
  background: #fff;
  border-radius: 10px;
  min-height: calc(100vh - 1.6rem);
}

.page-title {
  font-size: 1.1rem;
}

.dark {
  body {
    background: #283046;
    // background: url('~/assets/images/background.svg') no-repeat #283046;
  }

  .p-button.p-button-text.p-button-plain {
    color: #e4e4e4;
  }

  .p-sidebar {
    color: #e4e4e4;
  }
}

.error-message {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;

  h1 {
    font-family: montserrat, sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0;

    span.emoji {
      display: inline-block;
      width: 120px;
      height: 120px;
      background-image: url(@/assets/images/emoji.webp);
      background-size: cover;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
  }

  h2 {
    font-family: montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;

    span {
      color: #726f5e;
    }
  }

  p {
    font-family: montserrat, sans-serif;
    color: #787878;
    font-weight: 300;
    padding: .8rem 0;
  }

  .action-button {
    font-family: montserrat, sans-serif;
    background: #f99827;
    color: #FFF !important;
    font-weight: 500 !important;
  }
}