.error-message {
    max-width: 520px;
    line-height: 1.4;

    p {
        color: #787878;
        font-weight: 300;
        padding: .8rem 0;
    }
}

.rtl {
    .error-message {
        p {
            font-family: Shabnam;
        }
    }
}