.p-button:focus {
  box-shadow: none;
}

.language {
  .p-button.p-button-text.p-button-plain:enabled:hover {
    background: transparent;
    color: #444;
  }
}

.p-sidebar {
  background: transparent;
  box-shadow: none;
}

.p-sidebar-left {
  max-width: var(--sidebar-width);
}

.p-button.p-button-link:enabled:focus {
  box-shadow: none;
  color: #000;
}

.p-overlay-badge .p-badge {
  top: 2px;
}


.rtl {
  .n-menu-item-content__icon {
    margin-left: 8px;
    margin-right: 5px !important;
  }

  .n-menu .n-submenu .n-menu-item-content {
    padding-left: 1.2rem !important;
  }

  .n-menu .n-submenu .n-submenu-children .n-menu-item .n-menu-item-content {
    padding-right: 45px;
    padding-left: 1.2rem !important;
  }

  .p-overlay-badge .p-badge {
    left: -6px;
    right: auto;
    top: 2px;
  }

  .n-pagination *:not(:last-child) {
    margin: var(--n-item-margin);
  }

  .n-pagination *:last-child {
    margin: auto;
  }

  .n-pagination {

    .n-pagination-item--button {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .n-data-table-expand-trigger {
    transform: rotate(180deg);
    margin-left: 8px;
    margin-right: 0 !important;
  }

  .n-rate {
    direction: ltr;
  }

  .n-list .n-list-item .n-list-item__prefix {
    margin-left: 20px;
    margin-right: auto;
    flex: 0;
  }

  .n-layout-sider .n-layout-sider__border {
    left: 0;
    right: auto;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0 1000px #eff0f1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.border-color-default {
  border-color: var(--border-color);
}

// ApexCharts
.dark {
  .apexcharts-text {
    fill: #fff;
  }

  .apexcharts-tooltip,
  .apexcharts-tooltip-title {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
  }

  .apexcharts-legend-text {
    color: #fff !important;
  }
}



.n-drawer.n-drawer--right-placement {
  top: 5px;
  bottom: 5px;
  right: 5px;
  height: calc(100% - 10px);
  border-radius: var(--n-border-radius);
}

.n-list {
  background-color: transparent !important;
}